{ns us-nlm-vsac.value-set.7.3.5,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen.fhir/version "0.5.22-1",
  :fhir/code-systems
  #{{:fhir/url "http://loinc.org", :zen.fhir/content :bundled}},
  :uri "http://cts.nlm.nih.gov/fhir/ValueSet/7.3.5",
  :version "20201016"}}