{ns us-nlm-vsac.value-set.2.16.840.1.113762.1.4.1182.118,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen.fhir/version "0.6.6",
  :fhir/code-systems
  #{{:fhir/url "http://www.ama-assn.org/go/cpt",
     :zen.fhir/content :bundled}},
  :uri
  "http://cts.nlm.nih.gov/fhir/ValueSet/2.16.840.1.113762.1.4.1182.118",
  :version "20191024",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/us.nlm.vsac"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}