{ns us-nlm-vsac.value-set.1.3.6.1.4.1.33895.1.3.0.45,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.6.27",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://cts.nlm.nih.gov/fhir/ValueSet/1.3.6.1.4.1.33895.1.3.0.45",
            :version "20210220",
            :ftr {:module "us-nlm-vsac",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
