{ns us-nlm-vsac.value-set.7.9.3,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen.fhir/version "0.5.25-1",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}},
  :uri "http://cts.nlm.nih.gov/fhir/ValueSet/7.9.3",
  :version "20201030"}}