{ns us-nlm-vsac.value-set.1.10.2,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.6.30-12",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/sid/icd-10-cm",
                                  :zen.fhir/content :bundled}},
            :uri "http://cts.nlm.nih.gov/fhir/ValueSet/1.10.2",
            :version "20201019",
            :ftr {:module "us-nlm-vsac",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
