{ns us-nlm-vsac.value-set.2.16.840.1.113762.1.4.1221.66,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen.fhir/version "0.5.33-1",
  :fhir/code-systems
  #{{:fhir/url "http://www.icd10data.com/icd10pcs",
     :zen.fhir/content :not-present}
    {:fhir/url "http://hl7.org/fhir/sid/icd-10-cm",
     :zen.fhir/content :not-present}
    {:fhir/url "http://www.nlm.nih.gov/research/umls/hcpcs",
     :zen.fhir/content :not-present}
    {:fhir/url "http://snomed.info/sct",
     :zen.fhir/content :not-present}
    {:fhir/url "http://www.ama-assn.org/go/cpt",
     :zen.fhir/content :not-present}},
  :uri
  "http://cts.nlm.nih.gov/fhir/ValueSet/2.16.840.1.113762.1.4.1221.66",
  :version "20200603",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/us.nlm.vsac"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}