{ns
 us-nlm-vsac.value-set.1.3.6.1.4.1.6997.4.1.2.268.15.35464.1.1.999.266,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen.fhir/version "0.5.22-1",
  :fhir/code-systems
  #{{:fhir/url "http://www.nlm.nih.gov/research/umls/rxnorm",
     :zen.fhir/content :bundled}},
  :uri
  "http://cts.nlm.nih.gov/fhir/ValueSet/1.3.6.1.4.1.6997.4.1.2.268.15.35464.1.1.999.266",
  :version "20170304"}}