{ns us-nlm-vsac.value-set.1.22.1,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen.fhir/version "0.5.26-5",
  :fhir/code-systems
  #{{:fhir/url "http://www.nlm.nih.gov/research/umls",
     :zen.fhir/content :bundled}},
  :uri "http://cts.nlm.nih.gov/fhir/ValueSet/1.22.1",
  :version "20201022",
  :ftr
  {:module "ig",
   :source-url "node_modules/us.nlm.vsac",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "us-nlm-vsac",
   :tag "init"}}}