{ns
 us-nlm-vsac.value-set.1.3.6.1.4.1.6997.4.1.2.268.15.34907.1.13.1.999.274,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen.fhir/version "0.6.2",
  :fhir/code-systems
  #{{:fhir/url "http://loinc.org", :zen.fhir/content :bundled}},
  :uri
  "http://cts.nlm.nih.gov/fhir/ValueSet/1.3.6.1.4.1.6997.4.1.2.268.15.34907.1.13.1.999.274",
  :version "20170304",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/us.nlm.vsac"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}