{ns us-nlm-vsac.value-set.2.16.840.1.113762.1.4.1029.222,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.16.13-2",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://cts.nlm.nih.gov/fhir/ValueSet/2.16.840.1.113762.1.4.1029.222",
            :version "20210121",
            :ftr {:module "ig",
                  :source-urls ["node_modules/us.nlm.vsac"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
