{ns us-nlm-vsac.value-set.2.16.840.1.113883.3.666.5.792,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.6.16-3",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/sid/icd-10-cm",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://hl7.org/fhir/sid/icd-9-cm",
                                  :zen.fhir/content :bundled}},
            :uri "http://cts.nlm.nih.gov/fhir/ValueSet/2.16.840.1.113883.3.666.5.792",
            :version "20121025",
            :ftr {:module "us-nlm-vsac",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
