{ns us-nlm-vsac.value-set.1.2.91.13925.17760.26050446,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.6.17-4",
            :fhir/code-systems #{{:fhir/url "http://www.ama-assn.org/go/cpt",
                                  :zen.fhir/content :bundled}},
            :uri "http://cts.nlm.nih.gov/fhir/ValueSet/1.2.91.13925.17760.26050446",
            :version "20170608",
            :ftr {:module "us-nlm-vsac",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
