{ns us-nlm-vsac.value-set.1.2.91.13925.17760.26591651,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen.fhir/version "0.5.24-1",
  :fhir/code-systems
  #{{:fhir/url "http://www.ama-assn.org/go/cpt",
     :zen.fhir/content :bundled}},
  :uri
  "http://cts.nlm.nih.gov/fhir/ValueSet/1.2.91.13925.17760.26591651",
  :version "20170526"}}