{ns us-nlm-vsac.value-set.2.16.840.1.113883.3.117.1.7.1.257,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen.fhir/version "0.5.24",
  :fhir/code-systems
  #{{:fhir/url "http://www.icd10data.com/icd10pcs",
     :zen.fhir/content :bundled}
    {:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}},
  :uri
  "http://cts.nlm.nih.gov/fhir/ValueSet/2.16.840.1.113883.3.117.1.7.1.257",
  :version "20210220"}}