{ns us-nlm-vsac.value-set.1.20.1,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.16.13-2",
            :fhir/code-systems #{{:fhir/url "http://www.nlm.nih.gov/research/umls",
                                  :zen.fhir/content :bundled}},
            :uri "http://cts.nlm.nih.gov/fhir/ValueSet/1.20.1",
            :version "20201021",
            :ftr {:module "ig",
                  :source-urls ["node_modules/us.nlm.vsac"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
