{ns us-nlm-vsac.value-set.7.4.2,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.6.16-3",
            :fhir/code-systems #{{:fhir/url "http://www.ama-assn.org/go/cpt",
                                  :zen.fhir/content :bundled}},
            :uri "http://cts.nlm.nih.gov/fhir/ValueSet/7.4.2",
            :version "20201016",
            :ftr {:module "us-nlm-vsac",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
