{ns us-nlm-vsac.value-set.2.16.840.1.113883.3.3616.200.110.102.4015,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen.fhir/version "0.5.25-1",
  :fhir/code-systems
  #{{:fhir/url "http://www.icd10data.com/icd10pcs",
     :zen.fhir/content :bundled}},
  :uri
  "http://cts.nlm.nih.gov/fhir/ValueSet/2.16.840.1.113883.3.3616.200.110.102.4015",
  :version "20201217"}}