{ns us-nlm-vsac.value-set.2.16.840.1.113762.1.4.1146.1495,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.6.30-12",
            :fhir/code-systems #{{:fhir/url "http://loinc.org",
                                  :zen.fhir/content :bundled}},
            :uri "http://cts.nlm.nih.gov/fhir/ValueSet/2.16.840.1.113762.1.4.1146.1495",
            :version "20220118",
            :ftr {:module "us-nlm-vsac",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
